@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/AirbnbCerealApp-Bold.eot');
  src: url('/assets/fonts/AirbnbCerealApp-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/AirbnbCerealApp-Bold.woff2') format('woff2'),
      url('/assets/fonts/AirbnbCerealApp-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal App Extra';
  src: url('/assets/fonts/AirbnbCerealApp-ExtraBold.eot');
  src: url('/assets/fonts/AirbnbCerealApp-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/AirbnbCerealApp-ExtraBold.woff2') format('woff2'),
      url('/assets/fonts/AirbnbCerealApp-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/AirbnbCerealApp-Black.eot');
  src: url('/assets/fonts/AirbnbCerealApp-Black.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/AirbnbCerealApp-Black.woff2') format('woff2'),
      url('/assets/fonts/AirbnbCerealApp-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/AirbnbCerealApp-Medium.eot');
  src: url('/assets/fonts/AirbnbCerealApp-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/AirbnbCerealApp-Medium.woff2') format('woff2'),
      url('/assets/fonts/AirbnbCerealApp-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('/assets/fonts/AirbnbCerealApp-Light.eot');
  src: url('/assets/fonts/AirbnbCerealApp-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/AirbnbCerealApp-Light.woff2') format('woff2'),
      url('/assets/fonts/AirbnbCerealApp-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal App Book';
  src: url('/assets/fonts/AirbnbCerealApp-Book.eot');
  src: url('/assets/fonts/AirbnbCerealApp-Book.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/AirbnbCerealApp-Book.woff2') format('woff2'),
      url('/assets/fonts/AirbnbCerealApp-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

